.contactMain {
  background-image: url("https://www.fera.co.uk/media/hero/1440x480_contact_us_new_website.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact1 {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/390/524/original/modern-company-logo-design-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
